.App{
  width: 210mm;
  margin: 0 auto; 
  padding: 20px; 
  background-color: #ecffee;
}
@media print {
  @page {
    size: A4 portrait;
    margin: 0; 
  }
}
.header{
  display: grid;
  grid-template-columns: 1fr;
  background-color: azure;
  border-radius: 10px;
} 